html {
    background: url(mould.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.2rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.para {
    color: rgb(133, 130, 128);
}

.info {
    margin: 0;
}